:root {
  --color-primary: #4247C4;
  --color-primary-light: #91ECFF;
  --color-primary-dark: #0108c9;
  --color-secondary: #F5F5F5;

  
  --font-display: "Poppins", "sans-serif";
  font-family: "Poppins", "sans-serif";
}